{% extends 'tasks/base.html' %}

{% block main_content %}

      <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0"> 我的任务 <small></small></h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item"><a href="#">Layout</a></li>
              <li class="breadcrumb-item active">我的任务</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <div class="content">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="card">
              <div class="card-header bg-gray">
                <h3 class="card-title">
                  <i class="fas fa-text-width"></i>
                  任务详情
                </h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body bg-gray-light">
                <dl class="row">
                  <dt class="col-sm-4">工作事项</dt>
                  <dd class="col-sm-8">{{ todo_detail.todo_topic }}</dd>
                  <dt class="col-sm-4">完成时间</dt>
                  <dd class="col-sm-8">{{ todo_detail.deadline }}</dd>
{#                  <dd class="col-sm-8 offset-sm-4">Donec id elit non mi porta gravida at eget metus.</dd>#}
                  <dt class="col-sm-4">交付物</dt>
                  <dd class="col-sm-8">{{ todo_detail.todo_note }}</dd>
                  <dt class="col-sm-4">任务编号</dt>
                  <dd class="col-sm-8">{{ todo_detail.task_id }}</dd>
                  <dt class="col-sm-4">任务来源</dt>
                  <dd class="col-sm-8">{{ todo_detail.task_origin }}</dd>
                  <dt class="col-sm-4">责任单位</dt>
                  <dd class="col-sm-8">{{ todo_detail.duty_group }}</dd>
                  <dt class="col-sm-4">承/督办人</dt>
                  <dd class="col-sm-8">{{ todo_detail.main_executor }}</dd>
                  <dt class="col-sm-4">协办人</dt>
                  <dd class="col-sm-8">{{ todo_detail.sub_executor.all|join:', ' }}</dd>
                  <dt class="col-sm-4">预计工作量</dt>
                  <dd class="col-sm-8">{{ todo_detail.predict_work }}</dd>
                  <dt class="col-sm-4">折算系数</dt>
                  <dd class="col-sm-8">{{ todo_detail.evaluate_factor }}</dd>
                  <dt class="col-sm-4">实际工作量</dt>
                  <dd class="col-sm-8">{{ todo_detail.real_work }}</dd>
                  <dt class="col-sm-4">成熟度</dt>
                  <dd class="col-sm-8">{{ todo_detail.maturity }}</dd>
                  <dt class="col-sm-4">归档情况</dt>
                  <dd class="col-sm-8">
                    {% if todo_detail.is_archived == 1 %}
                      <span class="badge bg-gradient-blue">已归档</span>
                    {% elif todo_detail.is_archived == 0 and todo_detail.need_archive == 1  %}
                      <span class="badge bg-gradient-red">未归档</span>
                    {% else %}
                      <span class="badge bg-gradient-gray">无需归档</span>
                    {% endif %}
                  </dd>
                </dl>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <div class="col-md-6">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header bg-gray">
                <h3 class="card-title">更新工作包</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form action="" method="post" enctype="multipart/form-data">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label for="exampleInputEmail1">成熟度</label>
                          <small>如需要归档但未存档，成熟度最高90%，等待归档管理员确认归档，归档后将自动升为100%</small>
                        {{ form.maturity }}
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label for="exampleInputEmail1">实际工作量</label>
                        {{ form.real_work }}
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label for="exampleInputEmail">协办人</label>
                        {{ form.sub_executor }}
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label for="exampleInputEmail">折算系数</label>
                        {{ form.evaluate_factor }}
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">完成情况说明</label>
                    {{ form.complete_note }}
                  </div>

{#                仅领导能操作#}
                {% if perms.tasks.can_mark %}
                  <div class="form-group">
                    <label for="exampleInputPassword1">工作质量评价</label>
                    {{ form.quality_mark }}
                  </div>
                {% endif %}

                  <div class="form-group">
                    <label for="exampleInputFile">附件</label>
                  </br>
                      {% for attachment in todo_attachment %}
                      <a href="/media/{{ attachment }}">{{ attachment.filename }}</a> ({{ attachment.confidential_level }})
                            <span class="badge bg-gradient-red">
                                <a style="color:#FFFFFF;" href="{% url 'tasks:todo_attachment_delete' del_attachment_id=attachment.del_id %}">删除</a>
                            </span>
                          </br>
                      {% endfor %}
                      <a href="/upload/?todo_id={{ todo_detail.id }}" class="btn btn-default btn-sm">
                        <i class="fas fa-upload"></i>
                          上传新附件</a>
                  </div>
                  {% if perms.tasks.change_archive %}
                    <div class="form-group">
                      <label for="exampleInputPassword1">同意归档(请勾选)</label>
                      {{ form.is_archived }}
                    </div>
                  {% endif %}

                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">💾 保存并返回列表页</button>
                  {% if perms.tasks.change_archive %}
                    <button type="submit" class="btn btn-default" name="submit_and_continue" value="1">👉 保存并继续编辑</button>
                  {% endif %}

                </div>
                {% csrf_token %}
              </form>
            </div>
            <!-- /.card -->
      </div>
    </div>
  </div>
    </div>
  </div>
{% endblock %}